---
import ChatbotApp from '../../RE Chatbot/Website chatbot RE/src/app/App.tsx';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slurm-O Chatbot</title>
  </head>
  <body>
    <ChatbotApp client:load />
  </body>
</html>
